html {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: monospace;
    background-color:#e8491d;
  }
  input[type="button"]{
    box-sizing:border-box;
    padding: 4px;
    background-color: #ccc;
    cursor: #013220;
    font-weight: 700;
    width:22%;
    margin:auto;
  }
  input[type="text"] {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    text-align: right;
    color: #013220;
    font-weight: 700;
  }
  